@import url(https://fonts.googleapis.com/css?family=Enriqueta:regular,500,600,700);

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

html,
body {
    height: 100%;
    background-color: #000;
    color: hwb(0 3% 97%);
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
    padding: 20px;
}

h1 {
    font-family: Enriqueta, sans-serif;
    font-weight: 600;
    color: #48ce0e;
    margin-left: -47px;
}

.main {
    flex: 1 1 auto;
}

.task-add {
    text-align: center;
    padding: 10px 10px;
}

.list {
    text-align: center;
    padding: 10px 10px;
}

#userTaskInput {
    margin: 5px;
    margin-left: -5px;
}

input {
    background-color: #35364f;
    color: #cfcfdf;
    border-radius: 5px 5px;
}

input:hover {
    cursor: text;
    background-color: #f5f5f5;
    color: #000;
}

button {
    /* Previous styles for the button */
    background-color: #1b1b28;
    border-radius: 50%;
    padding: 5px 5px;
    border: 1px solid #0056b3;
}

button:hover {
    background-color: #62ed26;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.delete-btn-task {
    margin-left: 5px;
}

.button i {
    color: #adaec9;
    font-size: 5px;
    margin-right: 2px;
}

i {
    color: #adaec9;
    font-weight: 400;
}

.fa-edit {
    color: #52eb10;
}

.fa-trash-alt,
.fa-trash {
    color: #297608;
}

.fa-puzzle-piece {
    color: #50e410;
}

.fa-edit {
    color: #52eb10;
}

.fa-trash-alt:hover,
.fa-trash:hover,
.fa-puzzle-piece:hover,
.fa-edit:hover {
    color: #0056b3;
}

.reset-all {
    text-align: center;
}

.fa-eraser {
    color: #ff0000;
}

.fa-eraser:hover {
    color: #50e410;
    font-size: 20px;
}

#btn-reset-all {
    background-color: #1b1b28;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 80px;
    border: 1px solid #1b1b28;
    margin-right: 60px;
}

#btn-reset-all:hover {
    background-color: #0056b3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
